<a href="https://colab.research.google.com/github/AtenciaDanEric/CpE0332.1-1-Elective-3/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Example 1 - Loop Statement

In [ ]:
#Example 1 - Loop Statement

week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  print (x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

Example 2 - The Break Statement

In [ ]:
#Example 2 - The Break Statement

week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  print (x)
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

Example 3 - The Break Statement

In [ ]:
#Example 3 - The Break Statement

week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  if x == "Thursday":
    break
  print (x)

Sunday
Monday
Tuesday
Wednesday

Example 4 - Looping through a String

In [ ]:
#Example 4 - Looping through a String

for x in "week":
  print (x)

w
e
e
k

Application 3 or Example 5 - The Break Statement

In [ ]:
#Application 3 or Example 5 - The Break Statement

week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  if x == "Thursday":
    print (x)
    break

Thursday

Example 6 -The range() Function

In [ ]:
#Example 6 -The range() Function

for x in range(6):
  print (x)
print ("--")
for x in range(2,6):
  print (x)

0
1
2
3
4
5
--
2
3
4
5

Example 7 - Nested Loops

In [ ]:
#Example 7 - Nested Loops

adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective:
  for y in fruits:
    print (x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

Example 8 - While Loops

In [ ]:
#Example 8 - While Loops

i = 1
while i < 6:
  print (i)
  i += 1 #i += 1 - Assignment operator

1
2
3
4
5

Example 9 - While loop the break statement

In [ ]:
#Example 9 - While loop the break statement

i = 1
while i < 6:
  print (i)
  if i == 3:
    break
  i += 1 #i = i + 1

1
2
3

Example 10 - While Continuous Statement

In [ ]:
#Example 10 - While Continuous Statement

i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print (i)

1
2
4
5
6

Example 11 - The else Statement

In [ ]:
#Example 11 - While Continuous Statement
i = 1
while i < 6:
  print (i)
  i += 1
else:
  print ("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

Application 4: Let's Try - Create a Python that displays:  
	  
		Hello 0
		Hello 1
		Hello 2
		Hello 3
		Hello 4
		Hello 5
		Hello 6
		Hello 7
		Hello 8
		Hello 9
		Hello 10

In [ ]:
#Application 4 - For loop version
for x in range(11):
  print ("Hello", x)

print ("--------")

#Application 4 - While loop version
i=0
while i < 11:
  print ("Hello", i)
  i += 1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10
--------
Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

Application 5: Create a Python program that displays integers less than 10 but not less than 3

In [ ]:
#Application 5 - For loop version
for x in range(3,10):
  print (x)

print ("--")

#Application 5 - While loop version
i=3
while i < 10:
  print (i)
  i += 1

3
4
5
6
7
8
9
--
3
4
5
6
7
8
9