<a href="https://colab.research.google.com/github/dancoder026/CpE0332.1-1-Elective-3/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [2]:
x = 3
y = 2
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

Python Comment

In [3]:
print("Hello World") #This is a python comment

Hello World

Python Variable

In [4]:
z = 1
z,s = 0,-1
z,s,t = 8,9,10
z
s
t

10

Casting

In [5]:
b = "sally"  # This is a type of string
b = int(4)
b

4

Type() function

In [6]:
print(type(b))

<class 'int'>

Double Quotes and Single Quotes

In [7]:
w = "Ana"
print(w)
q = 'Ana'
print(q)

Ana
Ana

Case Sensitive

In [8]:
a = int(4)
A = "Sally"
a
A

'Sally'

Multiple Variables

In [9]:
h, i, j = "one", "two", "three"
print(h)
print(i)
print(j)

one
two
three

Multiple Variables with Single Value

In [10]:
k = l = m = 'four'
print(k)
print(l)
print(m)

four
four
four

Output Variable and concatenation +

In [11]:
n = "enjoying"
p = "Python programming is "
print(p+n)

Python programming is enjoying

Arithmetic Operations

In [12]:
print(x + y) #Addtion
print(x - y) #Subtraction
print(x * y) #Multiplication
print(x / y) #Division
print(x//y)  #Floor Division
print(x%y)   #Modulus
print(x**y)  #Exponentiation

5
1
6
1.5
1
1
9

Assignment Operator

In [13]:
x+=3 #same as x = x+3
print(x)

6

Comparison Operator

In [14]:
print(x == y) #x=3, y=2
print(x!=y)
print(x>y)
print(x<y)

False
True
True
False

Logical Operators

In [15]:
print(x==y and x!=y) #True and False
print(x==y or x!=y) #False or True
print(not(x==y or x!=y)) #negate(False or True)

False
True
False

Identity Operators

In [16]:
print(x is y) #False
print(x is not y) #True

False
True

Bitwise Operators

In [17]:
#10 + 1 = 11    ; 1010 + 0001 = 1011
print(10 | 1)

print(x>>1)   #x=3  ,  011

11
3

Application 1

In [20]:
#Create a python program that displays your Fullname, Age, and Course and Section

full_name = "Dan Eric Bacolod Atencia"
age = 21
course = "BS Computer Engineering"
section = "3-1"

print("Full Name:", full_name)
print("Age:", age)
print("Course:", course)
print("Section:", section)

Full Name: Dan Eric Bacolod Atencia
Age: 21
Course: BS Computer Engineering
Section: 3-1